<nav class="navbar border-bottom  bg-primary   ">
    <div class="container-fluid">
        <div class="navbar-header d-flex align-items-center">
            <a href="/" class="navbar-brand">
                <img class="border border-dark rounded" src="/assets/logo.jpg" style="width:45px" alt="">
            </a>
            <div class="page-title" style="display: contents;">
                <ul style="display: contents;">
                    <li style="list-style-type: none; display: inline; margin-left: 200px;">
                        <h5><a href="http://localhost:4200/classify" style="color: white; text-decoration: none;">PHÂN
                                LOẠI </a></h5>
                    </li>
                    <li style="list-style-type: none; display: inline; margin-left: 50px;">
                        <h5><a href="http://localhost:4200/manager" style="color: white; text-decoration: none;">QUẢN
                                LÝ</a></h5>
                    </li>
                </ul>
                <!-- <h5 class="m-0 text-white ">PHÂN LOẠI BỆNH KHOAI TÂY</h5> | <h5>QUẢN LÝ</h5> -->
            </div>
        </div>
        <div class="be-right-navbar d-flex align-items-center">
            <a href="http://localhost:4200/infor"><strong class="text-white mr-3">{{userInfor.HoTen}}</strong></a>
            <div style="margin-left: 10px;">
                <button pButton class=" w-110 p-button-danger text-center p-button-sm  p-2 font-weight-bold"
                    icon="pi pi-sign-out" (click)="logout()" iconPos="right"></button>
            </div>
        </div>
    </div>
</nav>
<div class="container">

    <div class="row">
        <div class="col">
            <br />
            <br />
            <div class="page-title" style="text-align: center; ">
                <b>
                    <h2 class="m-0 text-black ">DANH SÁCH KẾT QUẢ PHÂN LOẠI</h2>
                </b>
            </div>
            <br />
            <br />

            <form [formGroup]="formManagement">
                <div style="text-align: center;">

                    <span class="p-input-icon-left w-20" style="margin-right: 50px;margin-left: 130px;">
                        <input class="w-100" type="text" pInputText placeholder="Ngày phân loại"
                            formControlName="dob" />
                    </span>
                    <span class="p-input-icon-left w-20" style="margin-right: 25px;">
                        <input class="w-100" type="text" pInputText placeholder="Loại bệnh" formControlName="sick" />
                    </span>

                    <button pButton pRipple type="button" label="Tìm kiếm" class="p-button-raised w-22" style="background: #5046E5;"
                        (click)="search()"></button>
                </div>
            </form>

            <p-divider></p-divider>

            <p-table [value]="userList" [paginator]="true" [rows]="5" [globalFilterFields]="['TenBenh']"
                styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center" id="STT">Ngày</th>
                        <th class="text-center" id="Ten">Ảnh</th>
                        <th class="text-center" id="Ten">Loại bệnh</th>
                        <th class="text-center" id="ThaoTac">Độ chính xác</th>
                        <th class="text-center" id="ThaoTac">Hành động</th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            {{ item.ResultID }}
                        </td>
                        <td class="text-center">
                            {{ item.NgayTest }}
                        </td>
                        <td class="text-truncate" style="text-align: center;">
                            <img style="width: 180px;" src="/assets/Test/{{ item.LinkImg }}" alt="">
                        </td>
                        <td class="text-center">
                            {{ item.TenBenh }}
                        </td>
                        <td class="text-center">
                            {{ item.DoChinhXac * 100 | number }}%
                        </td>

                        <td style="width: 8rem">
                            <div class="d-flex justify-content-center">
                                <button pButton type="button" icon="pi pi-trash" pTooltip="Xóa" tooltipPosition="bottom"
                                    (click)="deleteResult1(item.ResultID)"
                                    class="p-button-text p-button-danger p-button-sm"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td colspan="12" class="text-center">
                            <img style="width: 180px;" src="/assets/nodata.PNG" alt="">
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">Tổng: {{userList.length}} kết quả.</div>
                </ng-template>
            </p-table>

        </div>
    </div>
</div>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="bottom-center" key="c" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 2.6rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="grid p-fluid">
                <div class="col-6">
                    <button type="button" pButton label="Yes" class="p-button-success"></button>
                </div>
                <div class="col-6">
                    <button type="button" pButton label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>