<nav class="navbar border-bottom  bg-primary   ">
    <div class="container-fluid">
        <div class="navbar-header d-flex align-items-center">
            <a href="/" class="navbar-brand">
                <img class="border border-dark rounded" src="/assets/logo.jpg" style="width:45px" alt="">
            </a>
            <div class="page-title" style="display: contents;">
                <ul style="display: contents;">
                    <li style="list-style-type: none; display: inline; margin-left: 50px;"><h5><a href="http://localhost:4200/classify" style="color: white; text-decoration: none;">PHÂN LOẠI BỆNH KHOAI TÂY</a></h5></li>
                    <li style="list-style-type: none; display: inline; margin-left: 50px;"><h5><a href="http://localhost:4200/manager" style="color: white; text-decoration: none;">QUẢN LÝ</a></h5></li>
                </ul>
                <!-- <h5 class="m-0 text-white ">PHÂN LOẠI BỆNH KHOAI TÂY</h5> | <h5>QUẢN LÝ</h5> -->
            </div>
        </div>
        <div class="be-right-navbar d-flex align-items-center">
            <a href="http://localhost:4200/infor"><strong class="text-white mr-3">{{userInfor.HoTen}}</strong></a>
            <div style="margin-left: 10px;">
                <button
                    pButton
                    class=" w-100 p-button-danger text-center p-button-sm  p-2 font-weight-bold"
                    label="Đăng xuất "
                    icon="pi pi-sign-out"
                    (click)="logout()"
                    iconPos="right"
                ></button>
            </div>
        </div>
    </div>
</nav>
<div class="container">

    <div class="row">
        
        <div class="col" >
            

        <div style="margin-bottom:10px; margin-top:20px ">
            <p-inplace [closable]="true"  >
                <ng-template pTemplate="display">
                    
                        <button pButton icon="pi pi-user" label="Xem thông tin cá nhân"></button>
                    
                </ng-template>
                <ng-template pTemplate="content">
                    <table border="2" class="table table-bordered caption-top">
                        <tbody>
                            <tr class="bg-primary text-white">
                                <th></th>
                                <th>Thông tin</th>
                            </tr>
                            <tr>
                                <th >Họ tên</th>
                                <td>{{userInfor.HoTen}}</td>
                            </tr>
                            <tr>
                                <th >Tên đăng nhập</th>
                                <td>{{userInfor.TenDN}}</td>
                            </tr>
                            <tr>
                                <th>Ngày sinh</th>
                                <td>{{userInfor.NgaySinh}}</td>
                            </tr>
                            <tr>
                                <th>Địa chỉ</th>
                                <td>{{userInfor.DiaChi}}</td>
                            </tr>
                        </tbody>                
                    </table>
                    <div class="mr-3" style="display: inline-block; margin-right: 10px">

                        <button (click)="userEdit(userInfor.UserID)" pButton icon="pi pi-pencil" label="Sửa thông tin cá nhân"></button>
                    </div>
                </ng-template>
            </p-inplace>
        </div> 
        
    
        
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="bottom-center" key="c"  [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 2.6rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="grid p-fluid">
                <div class="col-6">
                    <button type="button" pButton  label="Yes" class="p-button-success"></button>
                </div>
                <div class="col-6">
                    <button type="button" pButton  label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>

